JIRA_BASE_URL=https://theksquaregroupglobal.atlassian.net
JIRA_EMAIL=neelima.vempada@theksquaregroup.com
JIRA_API_TOKEN=ATATT3xFfGF0eOE2qkGcfstq2aRakYM615rBvOvq_H0Ub20pSKJQaZ660bzYDyFMzrFajPvtD2d_Ti_JchPX4X1eDN44wkAokMG8dQ_3UscWFXGGBJjliQ56CZ6a1KxQVXP6R_Uqjkn-YBcDJpvAh_7OwyG5w5JI0gfja95Tz1Tx3bJQo8ChqWQ=1F391B9F
